.container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  align-content: flex-start;
  align-items: stretch;
  justify-content: space-evenly;
}

.nerdcast-card {
  margin: 2rem 2rem 0 0;
  width: 15rem;
  height: 20rem;
  overflow: auto;

}
